<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="{{ 'favicon.png' | asset_url }}">
    <title>{{ page_title }}</title>

    {{ content_for_header }}



    <style>
      :root {
        --palette-1: #0000000F;
        --palette-2: #0000001A;
        --palette-3: #00000066;
        --palette-4: #00000080;
        --palette-5: #000;
        --palette-6: #fff;
        --palette-7: #F2F0F1;
        --palette-8: #F0EEED;
        --palette-9: #F0F0F0;
        --palette-11: #01AB31;
        --palette-12: #FFC633;
        --palette-13: #FF3333;
        --palette-14: #FF33331A;

        --main-text-color: var(--palette-1);
      }
    </style>                                     

    <link rel="stylesheet" href="{{ 'index.css' | asset_url }}">
  </head>

  <body>
   {% sections 'header-group' %}

    <main>

      {{ settings.test | capitalize }}

      Hello world
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

   <script src="{{ 'index.js' | asset_url }}" defer></script>
  </body>
</html>
