<div class="main-container main-header__container">
  <div class="header-logo-group">
    {% render "icon-burger", class: "main-burger" %}

    <div class="header-logo media-container contain">
      <img src="{{ section.settings.header-logo | img_url: "master" }}" alt="{{ section.settings.header-logo.alt }}">
    </div>
  </div>

  <nav class="main-header-navigation">
    <ul>
      <li>
        <a class="with-chevron" href="/">Shop
          {% render "icon-chevron-down" %}
        </a>
      </li>

      {% assign menu_links = linklists['main-menu'].links %}
      {% for link in menu_links  %}
        <li class="{% if link.current %}{{ active }}{% endif %}">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
      <li class="active">
        <a href="/">Test</a>
      </li>
    </ul>
  </nav>
  
  <search class="main-search-group">
    <label>
      {% render "icon-magnifier", class: "main-search-magnifier-icon" %}
      <input type="search" placeholder="Search for products..." name="main-search">
    </label>
  </search>

  

  <menu class="header-menu">
    <ul>
      <li class="header-menu-magnifier"> {% render "icon-magnifier", class: "header-menu-icon header-menu-magnifier" %}</li>
      <li> {% render "icon-cart", class: "header-menu-icon" %}</li>
      <li> {% render "icon-user", class: "header-menu-icon" %}</li>
    </ul>
  </menu>
</div>



{% schema %}
{
  "name": "Main Header",
  "tag": "header",
  "class": "main-header padding-appearance",
  "settings": [
    {
      "type": "image_picker",
      "id": "header-logo",
      "label": "Header logo"
    }
  ]
}
{% endschema %}

